*{
    font-family: "system-ui";
}
table{
    border: 1px solid #ededed;
    width: 50%;
    margin: auto;
}

tr{
    height: 40px;
    border-bottom: 1px solid #ededed;
    background-color: #fbfbfb;
    text-align: center;
}
.pdt{
    width: 50px;
    height: 50px;
}
th{
    padding-left: 40px;
    padding-right: 40px;
}

.topo{
    background-color: black;
    height: 30px;
    color: antiquewhite;
    font-size: 36px;
}

.title{
    background-color: #009688;
    height: 30px;
    color: #fff;
    font-size: 26px;
}