.container_cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.container_form_cadastro {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_cadastro {
  height: 20%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: centerX;
}

.container_input {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  justify-content: space-around;
  
}
.group_inputs_left {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.group_inputs_rigth {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.input_form_cadastro {
  width: 60%;
}

.container_image {
  position: absolute; /* A imagem será posicionada em relação ao contêiner pai */
  bottom: 0%; /* Centralizando a imagem verticalmente */
  left: 0%;
}
.image_item_left {
  height: 40vh;
}
