*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container_cadastro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container_form_cadastro{
    width: 80%;
    height: 90%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}


.text_cadastro{
    font-size: 120px;

}
.input_form {
    
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #333;
    background-color: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input_form:focus {
    outline: none;
}
.custom_button_cadastro {
    display: flex;
    align-items: center;
    background-color: #2171EC; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 70px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.input_group{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input_form_cadastro{
    width: 30%;
}