.container-principal {
  display: flex;
  width: 100%;
  height: 85%;
  flex-direction: row;
  
}
.container_informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
}

.container-logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 45%;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.campo label {
  font-size: 1.2em;
  font-style: italic;
  color: #333;
  width: 20%;
}

.campo input {
  display: flex;
  padding: 10px;
  width: 60%;
  font-size: 1em;
  color: #555;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.campo input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.editar {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
  font-size: 1.2em;
  transition: color 0.3s;
}

.editar:hover {
  color: #0056b3;
}
.container-imagem-esquerda {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: 40%;
}

.foto_motorista {
  position: absolute;
  left: 10%;
  bottom: 40%;
  height: 20%;
  width: 10%;
  padding: 0; /* Remove o padding para evitar que a imagem fique com bordas extras */
  border: none; /* Remove bordas do botão */
  background: none; /* Remove o fundo do botão */
  display: flex;
  justify-content: center; /* Centraliza a imagem dentro do botão */
  align-items: center; /* Centraliza a imagem verticalmente */
}

.foto_motorista img {
  width: 100%; /* A imagem ocupa 100% da largura do botão */
  height: 100%; /* A imagem ocupa 100% da altura do botão */
  object-fit: cover; /* Faz com que a imagem ocupe o espaço sem distorcer */
  border-radius: 50%; /* Torna a imagem redonda */
}
