.container_login{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.right,.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
}
.left{
    display: flex;
    justify-content: space-between;
}
.container_logo{
    height: 40vh;

}
.image_logo{
    display: flex;
    height: 100%;
}

.container_welcome{
    text-align: center;
}
.welcome_title{
    font-size: 120px;
}
.welcom_subtitle {
    font-size: 30px;
    font-weight: normal;

}

.container_image{
    height: 30vh;

}
.image_item_left{
    display: flex;
    height: 100%;
}


.right{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container_form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 80%;
}

.text_login{
    font-size: 100px;
    font-weight: normal;

}

.container_input_form {
    display: flex;
    width:90% ; /* Largura máxima do campo de entrada */
    padding: 15px 20px;
    border-radius: 5px;
    color: #333;
    background-color: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    gap:5%;
}
.input_form_login{
    background-color: transparent;
    border: none;
    font-size: 24px;
    width: 100%;

}

.input_form_login:focus {
  outline: none;
}
.conteiner_create_count{
    text-align: end;
    width:90% ; /* Largura máxima do campo de entrada */

}

.button_create_count{
    background-color: white;
    border: none; 
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    display: inline-block; /* Faz o botão se comportar como um bloco em linha */
    font-size: 20px; /* Tamanho da fonte do texto */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
    
}




.esqueciSenha {
    all: unset; /* Remove todos os estilos padrão */
    display: inline-block; /* Permite aplicar padding e outras propriedades */
    cursor: pointer; /* Adiciona o comportamento de botão */
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    
    background-color: transparent; /* Fundo transparente */
    transition: all 0.3s ease; /* Suaviza mudanças */
  }
  
  .custom-button:hover {
    background-color: #2171EC; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
  }
  

  